<ActionBar title="Wörter raten" class="action-bar">
</ActionBar>

<FlexboxLayout>
    <StackLayout class="form">
        <Label textWrap="true" text="Wörter raten!" class="h2 description-label"></Label>
        <Label textWrap="true" text="Ein Spiel starten oder Wörter editieren?"
            class="h2 description-label"></Label>
        <Button text="Spiel starten" [nsRouterLink]="['/gameSetup']" class="btn btn-primary"></Button>
        <Button text="Decks bearbeiten" [nsRouterLink]="['/decks']" pageTransition="slide" class="btn btn-manage"></Button>
    </StackLayout>
</FlexboxLayout>