<ActionBar title="Wörterliste" class="action-bar">
</ActionBar>

<StackLayout orientation="vertical">
    <TextField hint="Neues Wort" [text]="newWord.value" (textChange)="onNewWordChange($event)"
               class="input input-border"></TextField>
    <Button text="Wort hinzufügen" (tap)="addWord()" class="btn btn-primary">
    </Button>


    <ListView [items]="wordList" (itemTap)="onWordListTap($event)" class="word-list-view list-group">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <StackLayout [class.odd]="odd" [class.even]="even">
                <Label class="word-list-text" [text]='item.value'></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>